header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    z-index: 1;
}

header .logo {
    width: 200px;
    max-width: 100%;
}

.header .logo:hover {
    cursor: pointer;
}


.link {
    margin-right: 0.5rem;
    text-decoration: inherit;
    font-weight: bold;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}